h1 {
	font-family: 'Roboto', sans-serif;
	color: #33e018;
}

.advice {
	font-family: 'Open Sans', sans-serif;
	color: #760f0f;
}

h4 {
	font-size: larger;
	color: #8c19d9;
	font-style: !important;
	
}